:root {
    --main--color: #ccc
}
body {
    font-family: 'Roboto', sans-serif;    
}
a {
    text-decoration: none;
    font-style: normal;
}
li {
    list-style-type: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

 /*---header---*/
.header {
    position: absolute;
        width: 1600px;
        height: 80px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
}
.tel {
    position: absolute;
        width: 152px;
        height: 16px;
        left: 1263px;
        top: 32px;
        color: #757575;
}
.email {
    position: absolute;
        width: 135px;
        height: 16px;
        left: 1078px;
        top: 32px;
        color: #757575;
}
.email:hover {
    color: #2196F3;
}
hr {
    position: absolute;
    width: 1600px;
    height: 0px;
    left: 0px;
    top: 80px;    
    border: 1px solid #ECECEC;
}
.link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;    
        color: #212121;
}
.stud {
    position: absolute;
        width: 45px;
        height: 16px;
        left: 453px;
        top: 32px;
}
.port {
    position: absolute;
        width: 72px;
        height: 16px;
        left: 548px;
        top: 32px;
}
.cont {
    position: absolute;
        width: 64px;
        height: 16px;
        left: 670px;
        top: 32px;
}
.stud:hover {
    color: #2196F3;
}
.port:hover {
    color: #2196F3;
}
.cont:hover {
    color: #2196F3;
}
.logo-header {
    position: absolute;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
}
.logo-size {    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #000;
}
.half-logo {
    color: #2196F3;
}
/*---hat---*/
.hat {
    position: absolute;
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;    
        background: #2F303A;
}
.text-hat {
    width: 696px;
    height: 120px;
    margin-left: 452px;
    margin-top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn {
     
        width: 216px;
        height: 50px;
        margin-left: 692px;
        margin-top: 30px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
}
.text-btn {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;         
        letter-spacing: 0.06em;    
        color: #FFFFFF;
}
/*---abilities---*/
.abilities {
    position: absolute;
    margin: 0;
    padding: 0;
        width: 1170px;
        height: 98px;
        left: 215px;
        top: 774px;
}
.block-abilities {
    width: 270px;
    height: auto;
    display: inline-block;
    padding-right: 30px;
}
.head-abilities {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;    
        color: #212121;
}
.text-abilities {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;    
        color: #757575;
}
/*---our-job---*/
.job {
    position: absolute;
        width: 386px;
        height: 42px;
        left: 617px;
        top: 966px;    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;    
        color: #212121;
}
.job-1 {
    position: absolute;
        width: 370px;
        height: 294px;
        left: 215px;
        top: 1058px;
        mix-blend-mode: normal;
}
.job-2 {
    position: absolute;
        width: 370px;
        height: 294px;
        left: 615px;
        top: 1058px;
}
.job-3 {
    position: absolute;
        width: 370px;
        height: 294px;
        left: 1015px;
        top: 1058px;
}
/*---our-team---*/
.our-team {
    position: absolute;
        width: 1600px;
        height: 648px;
        left: 0px;
        top: 1446px;    
        background: #F5F4FA;
}
.head-our-team {
    position: absolute;
        width: 284px;
        height: 42px;
        left: 668px;
        margin-top: 94px;    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;    
        color: #212121;
}
.cards-team {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    margin-top: 176px;    
}
.name-profi {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;    
        color: #212121;
}
.profi {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;    
        color: #757575;
}
.card-1 {    
    position: absolute;
        width: 270px;
        height: 368px;
        left: 215px;        
}
.card-2 {
    position: absolute;
    width: 270px;
        height: 368px;
        left: 515px;        
}
.card-3 {
    position: absolute;
        width: 270px;
        height: 368px;
        left: 815px;
}         
.card-4 {
    position: absolute;
        width: 270px;
        height: 368px;
        left: 1115px;         
}
/*---footer---*/
.footer {
        width: 1600px;
        height: 252px;
        left: 0px;
        margin-top: 2094px;    
        background: #2F303A;
}
.logo-footer {
    position: absolute;
        width: 145px;
        height: 31px;
        left: 215px;
        margin-top: 60px;     
}
.logo-studio {
    color: #FFFFFF;
}
.link-size-footer {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
}
.adress {
    position: absolute;
        width: 231px;
        height: 21px;
        left: 215px;
        padding-top: 111px;   
        color: #FFFFFF;
}
.email-footer {
    position: absolute;
        width: 231px;
        height: 21px;
        left: 215px;
        padding-top: 141px;
        color: rgba(255, 255, 255, 0.6);
}
.tel-footer {
    position: absolute;
        width: 231px;
        height: 21px;
        left: 215px;
        padding-top: 171px;
        color: rgba(255, 255, 255, 0.6);
}
/*---portfolio---*/
.menu-portfolio {
     
        width: 1170px;
        height: 1360px;
        margin-left: 215px;
        top: 94px;
        
}
.buttons {
    display: flex;
    flex-direction: row;       
    margin-top: 174px;
    height: 38px;
}
button:hover {
    background-color: #2196F3;
}
.tabl {
    display: flex;
    flex-wrap: wrap;

}
.cards-portfolio {
        
    box-sizing: border-box;    
        width: 370px;
        height: 404px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE
        
        
}
.name-sfera {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em; 
        padding-left: 24px;   
        color: #212121;
}
.sfera {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em; 
        padding-left: 24px;
        color: #757575;
}
.footer-portfolio {
    width: 1600px;
    height: 252px;
    margin-left: 0px;         
    margin-top: 94px;
    background: #2F303A;
}